.bodyy{
    background-color:beige
}
.cv-name{ 
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-weight: 600;
    font-size: 55px;
    margin: 50px 219px;
}    
.my-picture{
    border: 0px solid #ccc;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 0px 80px;
} 
.intro-table{ 
    display: flex;
    width: 1950px;
    text-align: justify;
    padding: 0px 2px;

}
.intro{
    line-height: 21px;
    background-color: rgb(184, 168, 198);
    text-align: left;
    padding: 0px 2px;

}
.name{
    font-size: 32px;
    font-style: oblique;
}
.job{
    font-size: 25px;
    font-style: oblique;
}
.intro-text{
    font-size: 20px;
    font-style: italic;
}
.gmail{
    height: 50px;
    width: 50px;
}
.second-part{
    margin: 70px 10px;
}
.gmail{
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    padding: 2px 5px;
    display: flex;
}
.gmail-logo{
    
    width: 30px;
    height: 30px;
    padding: 1px 10px ;
}
.telegram-logo{
    width: 30px;
    height: 30px;
    padding: 1px 10px;
}
.telegram{
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    padding: 2px 5px;
    display: flex;
}
.address{
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    padding: 20px 5px;
    display: flex;
}
.loc-logo{
    width: 30px;
    height: 30px;
    padding: 1px 10px;
}
